.container{
    background-image: url(/Users/fn_20/TASK-css-challenge/assets/pokemon-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background: #fff;
    
    border-radius: 40px;
    flex-direction: column;
    
    
    

}
 .pika{
    width: 100px;
    border-radius: 100px;
    

}

 p{
    
    text-align: center;
 }